<footer class="footer">
  <div class="footer_container">
    <div class="logo_footer">
      <a href="/"><img src="/images/footer.png" alt="KarineeBazarlogo" /></a>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos
        nihil quas in praesentium, quis fuga totam qui? Veniam suscipit
        asperiores dolores tenetur, ipsam fugiat unde eos quos quis tempore
        nihil.
      </p>
    </div>
    <div class="footer_categorias">
      <ul>
        <li class="categorias_header">
          Categorias
          <ul class="categorias_itens">
            <li><a href="">Facebook</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">TikTok</a></li>
          </ul>
        </li>
        <li class="categorias_header">
          Social
          <ul class="categorias_itens">
            <li><a href="">Facebook</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">TikTok</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <h2 class="footer-text">Todos os direitos reservados</h2>
</footer>
