<header class="header">
  <div class="logo">
    <a href="/"
      ><img src="/images/Design sem nome.png" alt="KarineeBazarlogo"
    /></a>
  </div>
  <form class="pesquisar" action="/karineebazar/search" method="GET">
    <!-- ajustar as rotas -->
    <input type="search" name="key" id="key" />
    <button type="submit">
      <i class="fa fa-search menu__icon" aria-hidden="true"></i>
    </button>
  </form>
  <nav class="nav" id="nav">
    <ul class="nav_itens">
      <li class="nav_item"><a class="nav_item_link" href="/">Home</a></li>
      <li class="nav_item">
        <a class="nav_item_link" href="produtos">Produtos</a>
      </li>
      <li class="nav_item">
        <a class="nav_item_link" href="promocoes">Promoções</a>
      </li>
      <li class="nav_item"><a class="nav_item_link" href="sobre">Sobre</a></li>
      <li class="nav_item">
        <a class="nav_item_link" href="#contato">Contato</a>
      </li>
    </ul>
  </nav>
</header>
