<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')%>
  <body>
    <%- include('./partials/header')%>
    <main class="main_container">
      <div class="carousel">
        <div class="container" id="img">
          <img src="https://picsum.photos/id/235/1000/400" alt="" />
          <img src="https://picsum.photos/id/236/1000/400" alt="" />
          <img src="https://picsum.photos/id/237/1000/400" alt="" />
          <img src="https://picsum.photos/id/238/1000/400" alt="" />
          <img src="https://picsum.photos/id/239/1000/400" alt="" />
          <img src="https://picsum.photos/id/240/1000/400" alt="" />
        </div>
      </div>
    </main>
    <%- include('./partials/footer')%>
  </body>
</html>
