<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')%>
  <body>
    <%- include('./partials/header')%>
    <div class="global_container">
      <main class="main_container">
        <div class="carousel">
          <div class="container" id="img">
            <img src="/images/01.png" alt="" />
            <img src="/images/2.png" alt="" />
            <img src="/images/3.png" alt="" />
          </div>
        </div>
      </main>
      <a href="https://api.whatsapp.com/send?phone=5511987695521&text=Teste"><img src="/images/WhatsApp.png" alt="" class="whatsapp"></a>
      <section class="categorias">
        <h2>Moda Feminina</h2>
        <div class="categorias_wraper">
          <div class="card_produto">
            <div class="card_produto_wraper">
              <img src="https://picsum.photos/id/235/300/200" alt="imagem do produto" class="produto" />
              <p>Nome do Produto</p>
              <span>R$preço</span>
              <button><a href="/produto:id">Saiba Mais!</a></button>
            </div>
          </div>
          <div class="card_produto">
            <div class="card_produto_wraper">
              <img src="https://picsum.photos/id/235/300/200" alt="imagem do produto" class="produto" />
              <p>Nome do Produto</p>
              <span>R$preço</span>
              <button><a href="/produto:id">Saiba Mais!</a></button>
            </div>
          </div>
          <div class="card_produto">
            <div class="card_produto_wraper">
              <img src="https://picsum.photos/id/235/300/200" alt="imagem do produto" class="produto" />
              <p>Nome do Produto</p>
              <span>R$preço</span>
              <button><a href="/produto:id">Saiba Mais!</a></button>
            </div>
          </div>
        </div>
  
        <h2>Acessórios</h2>
        <div class="categorias_wraper">
          <div class="card_produto">
            <div class="card_produto_wraper">
              <img src="https://picsum.photos/id/235/300/200" alt="imagem do produto" class="produto" />
              <p>Nome do Produto</p>
              <span>R$preço</span>
              <button><a href="/produto:id">Saiba Mais!</a></button>
            </div>
          </div>
          <div class="card_produto">
            <div class="card_produto_wraper">
              <img src="https://picsum.photos/id/235/300/200" alt="imagem do produto" class="produto" />
              <p>Nome do Produto</p>
              <span>R$preço</span>
              <button><a href="/produto:id">Saiba Mais!</a></button>
            </div>
          </div>
          <div class="card_produto">
            <div class="card_produto_wraper">
              <img src="https://picsum.photos/id/235/300/200" alt="imagem do produto" class="produto" />
              <p>Nome do Produto</p>
              <span>R$preço</span>
              <button><a href="/produto:id">Saiba Mais!</a></button>
            </div>
          </div>
        </div>
        <h2>Bordados</h2>
        <div class="categorias_wraper">
          <div class="card_produto">
            <div class="card_produto_wraper">
              <img src="https://picsum.photos/id/235/300/200" alt="imagem do produto" class="produto" />
              <p>Nome do Produto</p>
              <span>R$preço</span>
              <button><a href="/produto:id">Saiba Mais!</a></button>
            </div>
          </div>
          <div class="card_produto">
            <div class="card_produto_wraper">
              <img src="https://picsum.photos/id/235/300/200" alt="imagem do produto" class="produto" />
              <p>Nome do Produto</p>
              <span>R$preço</span>
              <button><a href="/produto:id">Saiba Mais!</a></button>
            </div>
          </div>
          <div class="card_produto">
            <div class="card_produto_wraper">
              <img src="https://picsum.photos/id/235/300/200" alt="imagem do produto" class="produto" />
              <p>Nome do Produto</p>
              <span>R$preço</span>
              <button><a href="/produto:id">Saiba Mais!</a></button>
            </div>
          </div>
        </div>
        <h2>Cosméticos</h2>
        <div class="categorias_wraper">
          <div class="card_produto">
            <div class="card_produto_wraper">
              <img src="https://picsum.photos/id/235/300/200" alt="imagem do produto" class="produto" />
              <p>Nome do Produto</p>
              <span>R$preço</span>
              <button><a href="/produto:id">Saiba Mais!</a></button>
            </div>
          </div>
          <div class="card_produto">
            <div class="card_produto_wraper">
              <img src="https://picsum.photos/id/235/300/200" alt="imagem do produto" class="produto" />
              <p>Nome do Produto</p>
              <span>R$preço</span>
              <button><a href="/produto:id">Saiba Mais!</a></button>
            </div>
          </div>
          <div class="card_produto">
            <div class="card_produto_wraper">
              <img src="https://picsum.photos/id/235/300/200" alt="imagem do produto" class="produto" />
              <p>Nome do Produto</p>
              <span>R$preço</span>
              <button><a href="/produto:id">Saiba Mais!</a></button>
            </div>
          </div>
        </div>
        <section class="contato" id="contato">
          <div class="contato_wraper">
            <h2>Entre em contato com a gente!</h2>
            <p>entre em contato com a Karine Elidio Bazar, 
            queremos tirar suas dúvidas, ouvir suas critícas 
            e sugestões</p>
            <button><a href="">WhatsApp</a></button>
            <button><a href="">E-mail</a></button>
          </div>
        </section>
    </div>
   

    <%- include('./partials/footer')%>
  </body>
</html>
