<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')%>
  <body>
    <%- include('./partials/header')%>
    <main class="main_container">
      <div class="carousel">
        <div class="container" id="img">
          <img src="https://picsum.photos/id/235/1000/400" alt="" />
          <img src="https://picsum.photos/id/236/1000/400" alt="" />
          <img src="https://picsum.photos/id/237/1000/400" alt="" />
          <img src="https://picsum.photos/id/238/1000/400" alt="" />
          <img src="https://picsum.photos/id/239/1000/400" alt="" />
          <img src="https://picsum.photos/id/240/1000/400" alt="" />
        </div>
      </div>
    </main>
    <a href="https://api.whatsapp.com/send?phone=5511987695521&text=Teste"><img src="/images/WhatsApp.png" alt="" class="whatsapp"></a>
    <section class="categorias">
      <h2>Moda Feminina</h2>
      <div class="categorias_wraper">
        <div class="card_produto">
          <div class="card_produto_wraper">
            <img src="https://picsum.photos/id/235/100/100" alt="imagem do produto" class="produto" />
            <p>Nome do Produto</p>
            <span>R$preço</span>
            <button><a href="/produto:id">Saiba Mais!</a></button>
          </div>
        </div>
        <div class="card_produto">
          <div class="card_produto_wraper">
            <img src="https://picsum.photos/id/235/100/100" alt="imagem do produto" class="produto" />
            <p>Nome do Produto</p>
            <span>R$preço</span>
            <button><a href="/produto:id">Saiba Mais!</a></button>
          </div>
        </div>
        <div class="card_produto">
          <div class="card_produto_wraper">
            <img src="https://picsum.photos/id/235/100/100" alt="imagem do produto" class="produto" />
            <p>Nome do Produto</p>
            <span>R$preço</span>
            <button><a href="/produto:id">Saiba Mais!</a></button>
          </div>
        </div>
      </div>

      <h2>Acessórios</h2>
      <div class="categorias_wraper">
        <div class="card_produto">
          <div class="card_produto_wraper">
            <img src="https://picsum.photos/id/235/100/100" alt="imagem do produto" class="produto" />
            <p>Nome do Produto</p>
            <span>R$preço</span>
            <button><a href="/produto:id">Saiba Mais!</a></button>
          </div>
        </div>
        <div class="card_produto">
          <div class="card_produto_wraper">
            <img src="https://picsum.photos/id/235/100/100" alt="imagem do produto" class="produto" />
            <p>Nome do Produto</p>
            <span>R$preço</span>
            <button><a href="/produto:id">Saiba Mais!</a></button>
          </div>
        </div>
        <div class="card_produto">
          <div class="card_produto_wraper">
            <img src="https://picsum.photos/id/235/100/100" alt="imagem do produto" class="produto" />
            <p>Nome do Produto</p>
            <span>R$preço</span>
            <button><a href="/produto:id">Saiba Mais!</a></button>
          </div>
        </div>
      </div>
      <h2>Bordados</h2>
      <div class="categorias_wraper">
        <div class="card_produto">
          <div class="card_produto_wraper">
            <img src="https://picsum.photos/id/235/100/100" alt="imagem do produto" class="produto" />
            <p>Nome do Produto</p>
            <span>R$preço</span>
            <button><a href="/produto:id">Saiba Mais!</a></button>
          </div>
        </div>
        <div class="card_produto">
          <div class="card_produto_wraper">
            <img src="https://picsum.photos/id/235/100/100" alt="imagem do produto" class="produto" />
            <p>Nome do Produto</p>
            <span>R$preço</span>
            <button><a href="/produto:id">Saiba Mais!</a></button>
          </div>
        </div>
        <div class="card_produto">
          <div class="card_produto_wraper">
            <img src="https://picsum.photos/id/235/100/100" alt="imagem do produto" class="produto" />
            <p>Nome do Produto</p>
            <span>R$preço</span>
            <button><a href="/produto:id">Saiba Mais!</a></button>
          </div>
        </div>
      </div>
      <h2>Cosméticos</h2>
      <div class="categorias_wraper">
        <div class="card_produto">
          <div class="card_produto_wraper">
            <img src="https://picsum.photos/id/235/100/100" alt="imagem do produto" class="produto" />
            <p>Nome do Produto</p>
            <span>R$preço</span>
            <button><a href="/produto:id">Saiba Mais!</a></button>
          </div>
        </div>
        <div class="card_produto">
          <div class="card_produto_wraper">
            <img src="https://picsum.photos/id/235/100/100" alt="imagem do produto" class="produto" />
            <p>Nome do Produto</p>
            <span>R$preço</span>
            <button><a href="/produto:id">Saiba Mais!</a></button>
          </div>
        </div>
        <div class="card_produto">
          <div class="card_produto_wraper">
            <img src="https://picsum.photos/id/235/100/100" alt="imagem do produto" class="produto" />
            <p>Nome do Produto</p>
            <span>R$preço</span>
            <button><a href="/produto:id">Saiba Mais!</a></button>
          </div>
        </div>
      </div>

    <%- include('./partials/footer')%>
  </body>
</html>
